/*.aws-nav-header {
    background-color: #444;
    border-bottom: 1px solid #363636;
    box-shadow: 0 1px 3px #5a5a5a;    
    position: relative;
    width: 100%;
    z-index: 6001;
}*/
.header{
    height: 68px;
    background-color: #444;
}

.menuPad{
    padding-top: 10px;
}
.menuChnage li a{
    font-family: Helvetica,Arial,sans-serif;
    color: #fff !important;
    font-weight: bold !important;
    font-style: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

label {
    color: #4d4d4d !important;
    cursor: pointer;
    display: block;
    font-size: 0.86em;
    font-weight: bold;
    font-style: normal;
    font-family: Helvetica,Arial,sans-serif;
}
.foot a{
    padding: 10px;
}
#footer{
    border-top: 1px solid #ddd;
    margin-top: 50px;
}

.footerSubUls {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footerSubUls li{
    padding-top: 7px;
}

.headingLine{
    color: #e47911;
    font-size: 1.3em;
    font-weight: inherit;
}

.navbar-inverse {
    background-color: #444 !important;
    border-color: #080808;
    border-bottom: 1px solid #363636;
    box-shadow: 0 1px 3px #5a5a5a;
}
.navbar{
    min-height: 68px !important;
}
.sizeChange{
    margin-top: -21px;
}
.sizeChange img{
    width: 70%;
}

.fullWidth img{
    width:100%;
}
@media (max-width:480px) {
    .fullWidth img{
        height: 170px;
    }
}

.fpass a{
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}





